::-webkit-scrollbar {
  width: 1px;
  height: 5px;
  margin-top: 20px;
 
}

::-webkit-scrollbar-track {  
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #17a54a;
  border-radius: 3px;
  width: 1px;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
